@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 1760px;
  margin: 0 auto;
  position: relative;
}
@media only screen and (max-width: 481px) {
  .container {
    width: 95%;
  }
}

body {
  background-color: #0B1D26;
}

.open_nav {
  max-height: 400px !important;
}
.open_nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.guide_line {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.guide_line__line {
  height: 2px;
  width: 70px;
  background-color: #FBD784;
  margin-right: 30px;
}
.guide_line__text {
  font-family: "Gilroy", monospace;
  font-size: 18px;
  color: #FBD784;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  max-height: 100px;
  z-index: 999;
  width: 100%;
  background: #215873;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
}
.header_wrapper {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header_wrapper .header_logo__link {
  text-transform: uppercase;
  color: #fff;
  font-size: 38px;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.header_wrapper .header_nav {
  width: 40%;
}
.header_wrapper .header_nav__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header_wrapper .header_nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Gilroy", monospace;
  font-weight: 700;
  letter-spacing: 1.5px;
  opacity: 0.7;
}
.header_wrapper .header_nav__link:hover {
  opacity: 1;
  text-shadow: -2px -2px 1px #0B1D26, 2px 2px 2px #FBD784;
  transition: all 0.2s;
}

.sticky {
  opacity: 0.9;
  top: 0px;
}

.heading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 110px;
  height: 100vh;
  min-height: 700px;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, #0b1d26 100%), url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.heading_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 190px;
  margin-bottom: 360px;
}
.heading .socials {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  color: #fff;
}
.heading .socials_descr {
  white-space: nowrap;
  transform: rotate(90deg);
  width: 77px;
}
.heading .socials_descr__text {
  font-family: "Gilroy", monospace;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.heading .socials_items .socials_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading .socials_items .socials_list__item {
  margin-bottom: 10px;
}
.heading .socials_items .socials_list__link {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.heading .socials_items .socials_list__link:hover {
  color: #FBD784;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.heading .main_header {
  max-width: 950px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heading .main_header .heading_content__text {
  font-family: "Playfair Display", serif;
  font-size: 88px;
  font-weight: 500;
  color: #fff;
  line-height: 100px;
}
.heading .main_header .heading_content__brand {
  color: #FBD784;
}
.heading .main_header .scroll_btn {
  margin-top: 30px;
}
.heading .main_header .scroll_btn__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Gilroy", monospace;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  text-transform: lowercase;
  color: #fff;
}
.heading .main_header .scroll_btn__text {
  margin-right: 20px;
}
.heading .scroller_list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: nowrap;
  list-style: none;
}
.heading .scroller_list__item {
  vertical-align: middle;
  padding: 20px 30px 20px 0;
  position: relative;
}
.heading .scroller_list__item::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #fff;
  opacity: 0.3;
}
.heading .scroller_list__link {
  font-family: "Gilroy", monospace;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.content .elem_position {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  position: relative;
  padding-bottom: 80px;
}
.content_position {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  width: 50%;
}
.content .getStarted_content::before {
  content: "01";
  position: absolute;
  top: 20px;
  font-family: "Gilroy", monospace;
  font-size: 240px;
  font-weight: 800;
  color: #fff;
  opacity: 0.1;
}
.content .essentials {
  flex-direction: row-reverse;
}
.content .essentials_content::before {
  content: "02";
  position: absolute;
  top: 20px;
  font-family: "Gilroy", monospace;
  font-size: 240px;
  font-weight: 800;
  color: #fff;
  opacity: 0.1;
}
.content .route_content::before {
  content: "03";
  position: absolute;
  top: 20px;
  font-family: "Gilroy", monospace;
  font-size: 240px;
  font-weight: 800;
  color: #fff;
  opacity: 0.1;
}
.content_header {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  font-weight: 400;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 30px;
}
.content_descritpion {
  margin-bottom: 30px;
}
.content_descritpion__text {
  font-family: "Gilroy", monospace;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: #fff;
}
.content_more {
  font-family: "Gilroy", monospace;
  font-size: 18px;
  color: #FBD784;
  margin-bottom: 30px;
}

.contact {
  width: 100%;
  background-color: #215873;
  padding: 50px 0;
}
.contact_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer {
  margin-top: 220px;
  padding-bottom: 100px;
  height: 260px;
  font-family: "Gilroy", monospace;
}
.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__descr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}
.footer__descr_logo {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 32px;
  text-decoration: none;
  font-weight: 400;
}
.footer__descr_text {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
}
.footer__descr_copyright {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  opacity: 0.5;
}
.footer__info_header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #FBD784;
}
.footer__info .info__list {
  list-style: none;
}
.footer__info .info__list_item {
  margin-top: 20px;
}
.footer__info .info__list_link {
  text-decoration: none;
  font-size: 18px;
  line-height: 32px;
  color: #fff;
}