@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap");
@keyframes navShow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 1760px;
  margin: 0 auto;
  position: relative;
}
@media only screen and (max-width: 481px) {
  .container {
    width: 95%;
  }
}

body {
  background-color: #0B1D26;
}

.guide_line {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.guide_line__line {
  height: 2px;
  width: 70px;
  background-color: #FBD784;
  margin-right: 30px;
}
.guide_line__text {
  font-family: "Gilroy", monospace;
  font-size: 18px;
  color: #FBD784;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  max-height: 100px;
  z-index: 999;
  width: 100%;
  background: #215873;
  overflow: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
}
.header_wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header_wrapper .header_logo__link {
  text-transform: uppercase;
  color: #fff;
  font-size: 38px;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.header_wrapper .header_nav {
  width: 40%;
}
@media only screen and (max-width: 768px) {
  .header_wrapper .header_nav {
    width: 0;
  }
}
.header_wrapper .header_nav .main_nav__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header_wrapper .header_nav .main_nav__link {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Gilroy", monospace;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.header_wrapper .header_nav .main_nav__link::after {
  position: absolute;
  content: "";
  background-color: #FBD784;
  height: 2px;
  width: 0%;
  top: 25px;
  right: 50%;
  transform: translateX(50%);
  transition: width 0.2s ease-in-out;
}
.header_wrapper .header_nav .main_nav__link:hover {
  transition: all 0.2s;
}
.header_wrapper .header_nav .main_nav__link:hover::after {
  width: 100%;
}
.header_wrapper .header_nav .main_nav__link:active {
  color: #E3B46D;
}
.header_wrapper .header_nav .main_nav__link:active::after {
  background-color: #E3B46D;
}
.header_wrapper .header_nav .mobile_toggle {
  display: none;
}
@media only screen and (max-width: 768px) {
  .header_wrapper .header_nav .mobile_toggle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40px;
    cursor: pointer;
  }
  .header_wrapper .header_nav .mobile_toggle > span {
    height: 4px;
    margin: 4px 0;
    border-radius: 10px;
    background-color: #fff;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
  .header_wrapper .header_nav .mobile_toggle > span:nth-last-of-type(1) {
    width: 50%;
  }
  .header_wrapper .header_nav .mobile_toggle > span:nth-last-of-type(2) {
    width: 100%;
  }
  .header_wrapper .header_nav .mobile_toggle > span:nth-last-of-type(3) {
    width: 75%;
  }
  .header_wrapper .header_nav .mobile_toggle__input {
    display: none;
  }
  .header_wrapper .header_nav .mobile_toggle__input:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotateZ(45deg) translate(-8px, 13px);
    width: 50%;
  }
  .header_wrapper .header_nav .mobile_toggle__input:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    transform: rotateZ(-45deg);
  }
  .header_wrapper .header_nav .mobile_toggle__input:checked ~ span:nth-of-type(3) {
    transform-origin: bottom;
    transform: rotateZ(45deg) translate(-7px, -4px);
  }
  .header_wrapper .header_nav .mobile_nav {
    position: fixed;
    width: 70%;
    top: 80px;
    right: -300%;
    background-color: #215873;
    opacity: 1;
    animation: navShow 0.4s ease-in-out;
    transition: 0.4s all;
  }
  .header_wrapper .header_nav .mobile_nav .main_nav__list {
    flex-direction: column;
    align-items: flex-end;
    margin: 50px 10% 0 0;
  }
  .header_wrapper .header_nav .mobile_nav .main_nav__item {
    margin-bottom: 35px;
  }
  .header_wrapper .header_nav .mobile_nav .main_nav__link::after {
    right: 0;
    transform: translateX(0);
  }
  .header_wrapper .header_nav .open_nav {
    right: 0;
    height: 100%;
  }
}

.sticky {
  opacity: 1;
  top: 0px;
}

.heading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 110px;
  height: 100vh;
  min-height: 700px;
  background-image: linear-gradient(180deg, rgba(164, 51, 51, 0.5) 0%, #0b1d26 95%), url(../img/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.heading_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 190px;
  margin-bottom: 360px;
}
.heading .socials {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  color: #fff;
}
.heading .socials_descr {
  white-space: nowrap;
  transform: rotate(90deg);
  width: 77px;
}
.heading .socials_descr__text {
  font-family: "Gilroy", monospace;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.heading .socials_items .socials_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading .socials_items .socials_list__item {
  margin-bottom: 10px;
}
.heading .socials_items .socials_list__link {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.heading .socials_items .socials_list__link:hover {
  color: #FBD784;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.heading .main_header {
  max-width: 950px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heading .main_header .heading_content__text {
  font-family: "Playfair Display", serif;
  font-size: 88px;
  font-weight: 500;
  color: #fff;
  line-height: 100px;
}
.heading .main_header .heading_content__brand {
  color: #FBD784;
}
.heading .main_header .scroll_btn {
  margin-top: 30px;
}
.heading .main_header .scroll_btn__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Gilroy", monospace;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  text-transform: lowercase;
  color: #fff;
}
.heading .main_header .scroll_btn__text {
  margin-right: 20px;
}

.content {
  padding-top: 90px;
}
.content .elem_position {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: middle;
  position: relative;
  padding-bottom: 80px;
}
.content_position {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  width: 50%;
}
.content .essentials {
  flex-direction: row-reverse;
}
.content_header {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  font-weight: 400;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 30px;
}
.content_descritpion {
  margin-bottom: 30px;
}
.content_descritpion__text {
  font-family: "Gilroy", monospace;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: #fff;
}
.content_more {
  font-family: "Gilroy", monospace;
  font-size: 18px;
  color: #FBD784;
  margin-bottom: 30px;
}

.contact {
  width: 100%;
  background-color: #215873;
  padding: 50px 0;
}
.contact_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact_header {
  flex: 0 0 40%;
  color: #fff;
}
.contact_header__text {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 64px;
  margin-bottom: 20px;
}
.contact_header__descr {
  font-family: "Gilroy", monospace;
  font-size: 18px;
}
.contact_form {
  flex-grow: 1;
}
.contact_form .form {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transition: 0.2s;
  width: 100%;
  font-family: "Gilroy", monospace;
  color: #fff;
  font-size: 18px;
}
.contact_form .form .inputs_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.contact_form .form_input {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 45%;
}
.contact_form .form_input__label {
  position: absolute;
  top: 20px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #fff;
}
.contact_form .form_input__field {
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  outline: 0;
  width: 100%;
  padding: 5px 0;
  background: transparent;
  transition: 0.2s;
  font-family: "Gilroy", monospace;
  color: #fff;
}
.contact_form .form_input__field:hover {
  border-color: #FBD784;
}
.contact_form .form_input__field:focus {
  border-color: #FBD784;
}
.contact_form .form_input__field:focus ~ .form_input__label {
  top: 0px;
  font-size: 1rem;
  color: #FBD784;
  font-weight: 700;
}
.contact_form .form_input__field:valid {
  border-color: #4da94d;
}
.contact_form .form .has_text ~ .form_input__label {
  top: 0px;
  color: #FBD784;
}
.contact_form .form_message {
  position: relative;
}
.contact_form .form_message__textarea {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  border: 0;
  border-bottom: 2px solid #fff;
  outline: 0;
  padding: 5px 0;
  background: transparent;
  transition: border-color 0.2s;
  resize: none;
  overflow: auto;
}
.contact_form .form_button {
  width: 40%;
  padding: 10px 20px;
  margin-top: 15px;
  outline: none;
  border: 2px solid #fff;
  border-radius: 5px;
  background: none;
  font-family: "Gilroy", monospace;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  transition: 0.2s;
}
.contact_form .form_button:hover {
  border-color: #FBD784;
  transform: scale(1.05);
}
.contact_form .form_button:active {
  color: #0B1D26;
  transform: scale(1.025);
}

.footer {
  margin-top: 220px;
  padding-bottom: 100px;
  height: 260px;
  font-family: "Gilroy", monospace;
}
.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__descr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}
.footer__descr_logo {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 32px;
  text-decoration: none;
  font-weight: 400;
}
.footer__descr_text {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
}
.footer__descr_copyright {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  opacity: 0.5;
}
.footer__info_header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #FBD784;
}
.footer__info .info__list {
  list-style: none;
}
.footer__info .info__list_item {
  margin-top: 20px;
}
.footer__info .info__list_link {
  text-decoration: none;
  font-size: 18px;
  line-height: 32px;
  color: #fff;
}