// @import "_fonts";
@import "_mixin.scss";
@import "_colors.scss";
@import "_keyframes.scss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');


* {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1760px;
    margin: 0 auto;
    position: relative;
  
    @include tablets {
      width: 95%;
    }
}

body {
    background-color: $darkBg;
}

.guide_line {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__line {
        height: 2px;
        width: 70px;
        background-color: $orange;
        margin-right: 30px;
    }

    &__text {
        @include Gilroy;
        font-size: 18px;
        color: $orange;
        letter-spacing: 2px;
        text-transform: uppercase;

    }
}

.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    max-height: 100px;
    z-index: 999;
    width: 100%;
    background: $lightBlue;
    overflow: hidden;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
    top: -100px;
    padding-bottom: 6px;

    &_wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;

        .header_logo {

            &__link {
                text-transform: uppercase;
                color: $white;
                font-size: 38px;
                text-decoration: none;
                @include PlayfairDisplay;
                font-weight: 400;
            }
        }

        .header_nav {
            width: 40%;

            @include small {
                width: 0;
            }

            .main_nav {

                &__list {
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
    
                &__link {
                    position: relative;
                    text-decoration: none;
                    color: $white;
                    font-size: 18px;
                    text-transform: uppercase;
                    @include Gilroy;
                    font-weight: 700;
                    letter-spacing: 1.5px;
                    
                    &::after {
                        position: absolute;
                        content: '';
                        background-color: $orange;
                        height: 2px;
                        width: 0%;
                        top: 25px;
                        right: 50%;
                        transform: translateX(50%);
                        transition: width 0.2s ease-in-out;
                    }
    
                    &:hover {
                        transition: all 0.2s;
    
                        &::after {
                            width: 100%;
                        }
                    }
    
                    &:active {
                        color: $darkOrange;
    
                        &::after {
                            background-color: $darkOrange;
                        }
                    }
                }
            }


            .mobile_toggle {
                display: none;
            }

            @include small {
                .mobile_toggle {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    width: 40px;
                    cursor: pointer;

                    & > span {
                        height: 4px;
                        margin: 4px 0;
                        border-radius: 10px;
                        background-color: $white;
                        transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

                        &:nth-last-of-type(1) {
                            width: 50%;
                        }
                        &:nth-last-of-type(2) {
                            width: 100%;
                        }
                        &:nth-last-of-type(3) {
                            width: 75%;
                        }
                    }

                    &__input {
                        display: none;

                        &:checked ~ span:nth-of-type(1) {
                            transform-origin: bottom;
                            transform: rotateZ(45deg) translate(-8px, 13px);
                            width: 50%;
                        }
                        &:checked ~ span:nth-of-type(2) {
                            transform-origin: top;
                            transform: rotateZ(-45deg);
                        }
                        &:checked ~ span:nth-of-type(3) {
                            transform-origin: bottom;
                            transform: rotateZ(45deg) translate(-7px, -4px);
                        }
                    }
                }

                .mobile_nav {
                    position: fixed;
                    width: 70%;
                    // height: 100%;
                    top: 80px;
                    right: -300%; //тимчасово
                    background-color: $lightBlue;
                    opacity: 1;
                    animation: navShow 0.4s ease-in-out;
                    transition: 0.4s all;

                    & .main_nav__list {
                        flex-direction: column;
                        align-items: flex-end;
                        margin: 50px 10% 0 0;
                    }

                    & .main_nav__item {
                        margin-bottom: 35px;
                    }

                    & .main_nav__link {
                        
                        &::after {
                            right: 0;
                            transform: translateX(0);
                        }
                    }
                }

                .open_nav {
                    right: 0;
                    height: 100%;
                }
            }
        }
    }
}

.sticky {
    opacity: 1;
    top: 0px;
}

.heading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 110px;
    height: 100vh;
    min-height: 700px;

    background-image: linear-gradient(180deg, rgba(164, 51, 51, 0.5) 0%, rgba(11,29,38,1) 95%), url(../img/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    &_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 190px;
        margin-bottom: 360px;
    }

    .socials {
        position: fixed;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 300px;

        color: $white;


        &_descr {
            white-space: nowrap;
            transform: rotate(90deg);
            width: 77px;
            

            &__text {
                @include Gilroy;
                font-size: 18px;
                font-weight: 700;

                margin: 0;
                padding: 0;
            }
        }

        &_items {

            .socials_list {
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: center;

                &__item {
                    margin-bottom: 10px;
                }

                &__link {
                    text-decoration: none;
                    color: $white;
                    font-size: 20px;

                    &:hover {
                        color: $orange;
                        transform: scale(1.1);
                        -webkit-transform:scale(1.1);
                    }
                }

            }
        }
    }

    .main_header {
        max-width: 950px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;  
        
        .heading_content {

            &__text {
                @include PlayfairDisplay;
                font-size: 88px;
                font-weight: 500;
                color: $white;
                line-height: 100px;
            }

            &__brand{
                color: $orange;
            }
        }

        .scroll_btn {
            margin-top: 30px;
            &__link {
                display: flex;
                flex-direction: row;
                align-items: center;

                @include Gilroy;
                font-size: 18px;
                font-weight: 700;
                text-decoration: none;
                text-transform: lowercase;
                color: $white;
            }

            &__text {
                margin-right: 20px;
            }
        }
    }
}

.content { 
    padding-top: 90px;

    .elem_position {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;        align-items: center;
        vertical-align: middle;
        position: relative;
        padding-bottom: 80px;
    }

    &_position {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: left;
        width: 50%;
    }
    
    // .getStarted {
    //     &_content {
    //         // background-color: rgba($color: #000661, $alpha: .5);
    //         &::before {
    //             content: '01';
    //             position: absolute;
    //             top: 20px;
    //             // left: -10%;
    //             @include Gilroy;
    //             font-size: 240px;
    //             font-weight: 800;
    //             color: $white;
    //             opacity: 0.1;
    //         }
    //     }
    // }
    .essentials {
        flex-direction: row-reverse;
        // &_content {
        //     &::before {
        //         // background-color: rgba($color: #000661, $alpha: .5);
        //         content: '02';
        //         position: absolute;
        //         top: 20px;
        //         // left: -10%;
        //         @include Gilroy;
        //         font-size: 240px;
        //         font-weight: 800;
        //         color: $white;
        //         opacity: 0.1;
        //     }
        // }
    }

    // .route {
    //     &_content {
    //         &::before {
    //             // background-color: rgba($color: #000661, $alpha: .5);
    //             content: '03';
    //             position: absolute;
    //             top: 20px;
    //             // left: -10%;
    //             @include Gilroy;
    //             font-size: 240px;
    //             font-weight: 800;
    //             color: $white;
    //             opacity: 0.1;
    //         }
    //     }
    // }
    
    &_header {
        @include PlayfairDisplay;
        font-size: 64px;
        font-weight: 400;
        color: $white;

        margin-top: 20px;
        margin-bottom: 30px;

    }

    &_descritpion {

        margin-bottom: 30px;

        &__text {
            @include Gilroy;
            font-size: 18px;
            font-weight: 700;
            line-height: 32px;
            color: $white;
        }
    }

    &_more {
        @include Gilroy;
        font-size: 18px;
        color: $orange;

        margin-bottom: 30px;
    }
}

.contact {
    width: 100%;
    background-color: $lightBlue;
    padding: 50px 0;

    &_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &_header {
        flex: 0 0 40%;
        color: $white;

        &__text {
            @include PlayfairDisplay;
            font-weight: 400;
            font-size: 64px;
            margin-bottom: 20px;
        }

        &__descr {  
            @include Gilroy;
            font-size: 18px;
        }
    }

    &_form {
        flex-grow: 1;

        .form {
            position: relative;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            transition: 0.2s;
            width: 100%;

            @include Gilroy;
            color: $white;
            font-size: 18px;

            .inputs_container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 10px;
            }

            &_input {
                position: relative;
                padding: 15px 0 0;
                margin-top: 10px;
                width: 45%;

                &__label {
                    position: absolute;
                    top: 20px;
                    display: block;
                    transition: 0.2s;
                    font-size: 1rem;
                    color: $white;
                }
        
                &__field {
                    border: 0;
                    border-bottom: 2px solid rgba($color: #fff, $alpha: 0.5);
                    outline: 0;
                    width: 100%;
                    padding: 5px 0;
                    background: transparent;
                    transition: 0.2s;
                    @include Gilroy;
                    color: $white;

                    &:hover {
                        border-color: $orange;
                    }
            
                    &:focus {
                        border-color: $orange;
                
                        & ~ .form_input__label {
                        top: 0px;
                        font-size: 1rem;
                        color: $orange;
                        font-weight:700;    
                        }
                    }
            
                    // &:invalid { 
                    //     border-color: rgb(230, 47, 47);
                    // }

                    &:valid {
                        border-color: rgb(77, 169, 77)
                    }

                }
            }

            & .has_text {
                & ~ .form_input__label {
                    top: 0px;
                    color: $orange;  
                }
            }

            &_message {
                position: relative;
                
                &__textarea {
                    width: 100%;
                    height: 100px;
                    margin-top: 20px;
                    border: 0;
                    border-bottom: 2px solid $white;
                    outline: 0;
                    padding: 5px 0;
                    background: transparent;
                    transition: border-color 0.2s;
                    resize: none;
                    overflow: auto;
                }
            }

            &_button {
                width: 40%;
                padding: 10px 20px;
                margin-top: 15px;
                outline: none;
                border: 2px solid $white;
                border-radius: 5px;
                background: none;
                @include Gilroy;
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
                color: $white;
                transition: 0.2s;

                &:hover {
                    border-color: $orange;
                    transform: scale(1.05);
                }

                &:active {
                    color: $darkBg;
                    transform: scale(1.025);
                }
            }
        }
    }
}

.footer {
    margin-top: 220px;
    padding-bottom: 100px;
    height: 260px;
    @include Gilroy;

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__descr {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;

        &_logo {
            @include PlayfairDisplay;
            text-transform: uppercase;
            color: $white;
            font-size: 32px;
            text-decoration: none;
            font-weight: 400;
        }

        &_text {
            font-size: 18px;
            line-height: 32px;
            font-weight: 700;
            color: $white;
        }
        
        &_copyright {
            font-size: 16px;
            font-weight: 500;
            color: $white;
            opacity: 0.5;
        }
    }

    &__info {

        &_header {
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
            color: $orange;
        }

        .info__list {
            list-style: none;

            &_item {
                margin-top: 20px;
            }

            &_link {
                text-decoration: none;
                font-size: 18px;
                line-height: 32px;
                color: $white;

            }
        }
    }
}