// @import "_fonts";
@import "_mixin.scss";
@import "_colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');


* {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1760px;
    margin: 0 auto;
    position: relative;
  
    @include tablets {
      width: 95%;
    }
}

body {
    background-color: $darkBg;
}

.open_nav {
    max-height: 400px !important;

    .mobile-toggle {
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
    }
}

.guide_line {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__line {
        height: 2px;
        width: 70px;
        background-color: $orange;
        margin-right: 30px;
    }

    &__text {
        @include Gilroy;
        font-size: 18px;
        color: $orange;
        letter-spacing: 2px;
        text-transform: uppercase;

    }
}



.header {
    // width: 100%;
    // margin-top: 30px;
    // position: relative;
    // new styles to make a fixed nav
    position: fixed;
    display: flex;
    flex-direction: row;
    max-height: 100px;
    z-index: 999;
    width: 100%;
    background: $lightBlue;
    overflow: hidden;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0;
    top: -100px;
    padding-bottom: 6px;

    

    &_wrapper {
        background: transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;

        .header_logo {

            &__link {
                text-transform: uppercase;
                color: $white;
                font-size: 38px;
                text-decoration: none;
                @include PlayfairDisplay;
                font-weight: 400;
            }
        }

        .header_nav {
            width: 40%;

            &__list {
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            &__link {
                text-decoration: none;
                color: $white;
                font-size: 18px;
                text-transform: uppercase;
                @include Gilroy;
                font-weight: 700;
                letter-spacing: 1.5px;
                opacity: 0.7;

                &:hover {
                    opacity: 1;
                    text-shadow:-2px -2px 1px $darkBg, 2px 2px 2px $orange;
                    transition: all 0.2s;
                }
            }
        }
    }
}

.sticky {
    opacity: .95;
    top: 0px;
    // border-bottom: 1px solid $orange;
}

.heading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 110px;
    height: 100vh;
    min-height: 700px;

    background-image: linear-gradient(180deg, rgba(164, 51, 51, 0.5) 0%, rgba(11,29,38,1) 95%), url(../img/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    &_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 190px;
        margin-bottom: 360px;
    }

    .socials {
        position: fixed;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 300px;

        color: $white;


        &_descr {
            white-space: nowrap;
            transform: rotate(90deg);
            width: 77px;
            

            &__text {
                @include Gilroy;
                font-size: 18px;
                font-weight: 700;

                margin: 0;
                padding: 0;
            }
        }

        &_items {

            .socials_list {
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: center;

                &__item {
                    margin-bottom: 10px;
                }

                &__link {
                    text-decoration: none;
                    color: $white;
                    font-size: 20px;

                    &:hover {
                        color: $orange;
                        transform: scale(1.1);
                        -webkit-transform:scale(1.1);
                    }
                }

            }
        }
    }

    .main_header {
        max-width: 950px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;  
        
        .heading_content {

            &__text {
                @include PlayfairDisplay;
                font-size: 88px;
                font-weight: 500;
                color: $white;
                line-height: 100px;
            }

            &__brand{
                color: $orange;
            }
        }

        .scroll_btn {
            margin-top: 30px;
            &__link {
                display: flex;
                flex-direction: row;
                align-items: center;

                @include Gilroy;
                font-size: 18px;
                font-weight: 700;
                text-decoration: none;
                text-transform: lowercase;
                color: $white;
            }

            &__text {
                margin-right: 20px;
            }
        }
    }

    .scroller {
        // position: fixed;
        &_list {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            flex-wrap: nowrap;

            list-style: none;

            &__item {
                vertical-align: middle;
                padding: 20px 30px 20px 0;
                position: relative;
                

                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 3px;
                    height: 100%;
                    background-color: #fff;
                    opacity: 0.3;
                }

                // &:hover {
                //     &.scroller_list__link {
                //         color: #000;
                //     }
        
                //     & .scroller_list__item::after {
                //         opacity: 1;
                //     }
                // }
                
            }

            &__link {
                @include Gilroy;
                font-size: 18px;
                color: $white;
                text-decoration: none;
            }
        }
    }
}

.content { 
    padding-top: 90px;

    .elem_position {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        vertical-align: middle;
        position: relative;
        padding-bottom: 80px;
    }

    &_position {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: left;
        width: 50%;
    }
    
    .getStarted {
        &_content {
            // background-color: rgba($color: #000661, $alpha: .5);
            &::before {
                content: '01';
                position: absolute;
                top: 20px;
                // left: -10%;
                @include Gilroy;
                font-size: 240px;
                font-weight: 800;
                color: $white;
                opacity: 0.1;
            }
        }
    }
    .essentials {
        flex-direction: row-reverse;
        &_content {
            &::before {
                // background-color: rgba($color: #000661, $alpha: .5);
                content: '02';
                position: absolute;
                top: 20px;
                // left: -10%;
                @include Gilroy;
                font-size: 240px;
                font-weight: 800;
                color: $white;
                opacity: 0.1;
            }
        }
    }

    .route {
        &_content {
            &::before {
                // background-color: rgba($color: #000661, $alpha: .5);
                content: '03';
                position: absolute;
                top: 20px;
                // left: -10%;
                @include Gilroy;
                font-size: 240px;
                font-weight: 800;
                color: $white;
                opacity: 0.1;
            }
        }
    }
    
    &_header {
        @include PlayfairDisplay;
        font-size: 64px;
        font-weight: 400;
        color: $white;

        margin-top: 20px;
        margin-bottom: 30px;

    }

    &_descritpion {

        margin-bottom: 30px;

        &__text {
            @include Gilroy;
            font-size: 18px;
            font-weight: 700;
            line-height: 32px;
            color: $white;
        }
    }

    &_more {
        @include Gilroy;
        font-size: 18px;
        color: $orange;

        margin-bottom: 30px;
    }
}

.contact {
    width: 100%;
    background-color: $lightBlue;
    padding: 50px 0;

    &_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &_header {
        flex: 0 0 40%;
        color: $white;

        &__text {
            @include PlayfairDisplay;
            font-weight: 400;
            font-size: 64px;
            margin-bottom: 20px;
        }

        &__descr {  
            @include Gilroy;
            font-size: 18px;
        }
    }

    &_form {
        flex-grow: 1;

        .form {
            position: relative;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: flex-start;
            transition: 0.2s;
            width: 100%;

            @include Gilroy;
            color: $white;
            font-size: 18px;

            .inputs_container {
                display: flex;
                flex-direction: row;
                margin-bottom: 10px;
            }

            &_input{
                flex-grow: 1;

                &__field {
                    position: relative;
                    padding: 15px 0 0;
                    opacity: 0.5;
                }
            }
        }
    

    }


}

.footer {
    margin-top: 220px;
    padding-bottom: 100px;
    height: 260px;
    @include Gilroy;

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__descr {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;

        &_logo {
            @include PlayfairDisplay;
            text-transform: uppercase;
            color: $white;
            font-size: 32px;
            text-decoration: none;
            font-weight: 400;
        }

        &_text {
            font-size: 18px;
            line-height: 32px;
            font-weight: 700;
            color: $white;
        }
        
        &_copyright {
            font-size: 16px;
            font-weight: 500;
            color: $white;
            opacity: 0.5;
        }
    }

    &__info {

        &_header {
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
            color: $orange;
        }

        .info__list {
            list-style: none;

            &_item {
                margin-top: 20px;
            }

            &_link {
                text-decoration: none;
                font-size: 18px;
                line-height: 32px;
                color: $white;

            }
        }
    }
}